* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    width: 1440px;
    height: 95.5px;
    /*border: 1px black solid;*/
}

.logo {
    margin-left: 145px;
    margin-top: 26px;
    margin-bottom: 26.29px;
    width: 25.73px;
    height: 43.21px;
}

.home {
    width: 44px;
    height: 16px;
    margin-left: 962.27px;
    margin-top: 34px;
    margin-bottom: 45.5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.home-bar {
    position: absolute;
    width: 42px;
    height: 5px;
    left: 1134px;
    top: 54px;
    background: #8F00FF;
    border-radius: 10px;
}

.about {
    width: 44px;
    height: 16px;
    margin-left: 51px;
    margin-top: 34px;
    margin-bottom: 45.5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.contact {
    width: 57px;
    height: 16px;
    margin-top: 34px;
    margin-bottom: 45.5px;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.hello-cont {
    display: flex;
    width: 771px;
    height: 233px;
    /*border: 1px solid black;*/
    margin-top: 116.5px;
    margin-left: 384px;
}

.wave {
    width: 176.42px;
    height: 180px;
    margin-left: 22px;
    margin-top: 53px;
    /*border: 1px solid black;*/
}

.hello {
    width: 389px;
    height: 180px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    margin-left: 62.58px;   
    margin-top: 53px;
    margin-bottom: 0px;
    /*border: 1px solid black;*/
}

.name {
    width: 377px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.52em;
    margin-left: 655px;
}

.about-but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 149px;
    height: 43px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    margin-left: 765px;
    margin-top: 64.5px;
}

.p {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

/* Credits */
/* Designer :- Kuldeep Ravishankar */
/* Developer :- Hyperclock.inc */
/* Contact:- Discord - rudemagician#8089 */
/* Special thanks to Figma and their respective owners */
/* Copyrights reserved 2021-22 */