* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 125px;
    background-color: #060747;
    /*border: 1px solid white;*/
}

.logo {
    width: 75px;
    height: 35px;
    background: #FFFFFF;
    border: 3.5px solid #FFCE00;
    border-radius: 50px;
    margin-top: 45px;
    margin-left: 150px;
}

.home {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-left: 854px;
    margin-top: 51px;
}

.about {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-left: 54px;
    margin-top: 51px;
}

.contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-left: 54px;
    margin-top: 51px;
}

.main {
    display: flex;
    width: 1440px;
    height: 587px;
    background-color: #060747;
}

.side {
    width: 230px;
    height: 460px;
    background-color: white;
    border-radius: 10px;
    margin-left: 164px;
    margin-top: 61px;
    margin-bottom: 64px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 818px;
    height: 461px;
    background-color: #060747;
    /*border: 2px white solid;*/
    margin-top: 60px;
    margin-left: 64px;
    margin-bottom: 64px;
}

.box {
    width: 230px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
}

.d {
    margin-top: 20px;
}

.e {
    margin-top: 20px;
}

.f {
    margin-top: 20px;
}

.welp {
    width: 40px;
    height: 85px;
    position: absolute;
    left: 1400px;
    top: 364px;
    background-color: #FFCE00;
}